nav.span4#archives
  div.paper
    div
      hgroup
        h2 Archives
      div.content
        include archives
nav.span4#categories
  div.paper
    div
      hgroup
        h2 Categories
      div.content
        include categories
nav.span4#profile
  div.paper
    div
      hgroup
        h2 About Me
      div.content
        address
          p
            img(style="width:100px;height:100px;", src=config.profile.image.url, alt="avatar")#avatar
          p#displayName
            a(href="http://gplus.to/syaku")!= config.profile.displayName
          p#aboutMe!= config.profile.aboutMe
