div.span12.social
  iframe(src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.sevenspirals.net/#{article.filename}&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21", scrolling="no", frameborder="0", style="border:none; overflow:hidden; width:100px; height:21px;", allowTransparency="true")
  a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://www.sevenspirals.net/#{article.filename}", data-text="#{article.title} - SEVENSPIRALS@Blog", data-lang="ja") ツイート
  div.g-plusone(data-size="medium", data-href="http://www.sevenspirals.net/#{article.filename}")
