//X:S ZenBackWidget
script(type="text/javascript")
  document.write(unescape("%3Cscript")+" src='http://widget.zenback.jp/?base_uri=http%3A//www.sevenspirals.net&nsid=105864615212133104%3A%3A106332890396139555&rand="+Math.ceil((new Date()*1)*Math.random())+"' type='text/javascript'"+unescape("%3E%3C/script%3E"));
//X:E ZenBackWidget
