extends layout

block page-header
  hgroup.hidden-phone.page-header
    h1
      small Category : 
      | #{title}

block content
  section#articles
    - var lastDate = ''
    for article in articles
      - var dateString = dateFormat(article.timestamp, 'yyyy-mm-dd');
      div.row
        div.span2
          if lastDate != dateString
            - lastDate = dateString
            h2.timestamp= dateString
        div.span10
          include includes/article_summary

