extends layout

block page-header
  hgroup.hidden-phone.page-header
    h1!=config.title

block content
  - var items = site.articles;
  - var cnt = site.articles.length;
  - if (cnt > 4) items = items.slice(0, 5);
  for article in items
    include includes/article_summary
