extends layout

block page-header
  hgroup.hidden-phone.page-header
    if typeof(title) != 'undefined'
      h1
        if typeof(subtitle) != 'undefined' 
          small #{subtitle}:
        |#{title}
    else
      h1 SEVENSPIRALS

block content
  section#articles
    - var lastDate = ''
    for article in items
      - var dateString = dateFormat(article.timestamp, 'yyyy-mm-dd');
      div.row-fluid
        if lastDate != dateString
          div.span2
            - lastDate = dateString
            h2.timestamp= dateString
        else
          div.span2.hidden-phone
        div.span10
          include includes/article_summary
  if currentPage
    include plugins/pagination
