- var month = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
- function dateFormat(datetime, format){
- var yyyy = datetime.getFullYear();
- var mm = datetime.getMonth()+1;
- if (mm < 10) mm = "0"+mm;
- var dd = datetime.getDate();
- if (dd < 10) dd = "0"+dd;
- var HH = datetime.getHours();
- if (HH < 10) HH = "0"+HH;
- var MM = datetime.getMinutes();
- if (MM < 10) ss = "0"+MM;
- var ss = datetime.getSeconds();
- if (ss < 10) ss = "0"+ss;
- return format.replace("yyyy", yyyy).replace("mmm", month[mm-1]).replace("mm", mm).replace("dd", dd).replace("HH", HH).replace("MM", MM).replace("ss", ss);
- }

